version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./storage/app/public:/var/www/html/storage/app/public
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=http://localhost:8080
    shm_size: '2gb'  # Importante para Chrome
    restart: unless-stopped
